.toast-hide,
.toast-show {
	position: fixed;
	bottom: 2rem;
	right: 1rem;
	transform: translate(-50%, -50%);
	transition: transform 0.3s ease;
	z-index: 99;
	.my-toast {
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		outline: 1px solid rgb(177, 177, 177);
		background-color: var(--color-violeta);
		border-radius: 0.5rem;
		width: 100%;
		color: #ffffff;
		max-width: 350px;

		.toastContent {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0.5rem;
			p {
				text-transform: capitalize;
				font-weight: bolder;
				text-align: center;
			}
		}
	}
}

.toast-hide {
	animation: toastOut 0.5s ease forwards;
	pointer-events: none;
}

.toast-show {
	animation: toastIn 0.5s ease forwards;
	pointer-events: auto;
}
@keyframes toastOut {
	from {
		transform: translateX(0%) rotateZ(0deg);
	}
	to {
		transform: translateX(calc(100% + 2rem)) rotateZ(90deg);
	}
}
@keyframes toastIn {
	from {
		transform: translateX(calc(100% + 2rem)) rotateZ(90deg);
	}
	to {
		transform: translateX(0) rotateZ(0deg);
	}
}
