.containerPacientesPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: 1200px;
	min-height: 70vh;
	margin: auto;
	padding: 1rem 0 2rem 0;

	.btn-cerrarFormulario {
		max-width: 300px;
		width: 100%;
		margin: 1rem auto;
	}
	.containersCardsPacientes {
		border-top: 1px solid #ccc;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 2rem;
		padding: 2rem 0.5rem;
		h2 {
			width: 100%;
			text-align: center;
		}
	}
}
