.formEditarPaciente,
.formPaciente {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	border-radius: 0.3rem;
	width: 95%;
	max-width: 900px;
	animation: form 0.3s linear;
	position: relative;
	.btnPrimario {
		align-self: center;
	}
	.volver {
		transform: scale(1.5);
		margin-left: 1rem;
		cursor: pointer;
		transition: transform 0.3s ease;
		&:hover {
			transform: scale(2);
		}
	}

	.input {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 1rem;
		color: #000000;
		background-color: var(--color-logo);
		border-radius: 0.5rem;
		border: 1px solid #ccc;
		h1 {
			text-align: center;
			font-size: 24px;
			color: var(--color-violeta);
			letter-spacing: 1px;
			border-radius: 0.5rem;
			text-decoration: underline;
		}
		.btnSecundario {
			width: fit-content;
			font-size: 14px;
		}
		label {
			width: 40%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			text-wrap: balance;
		}
		input {
			padding: 0.5rem 1rem;
			border-radius: 3rem;
			width: 60%;
			border: 1px solid #00000081;
			outline: none;
			transition: border 0.3s ease;
			&:focus {
				border: 1px solid var(--color-verde);
			}
			&:hover {
				border: 1px solid #868686;
			}
		}
		input[name='foto'] {
			padding: 0.5rem;
			background-color: #fff;
			&::-webkit-file-upload-button {
				display: none;
			}
		}
		.contactoEmergencia {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			width: 60%;
			input {
				width: 100%;
			}
		}
	}

	.inputSelect {
		display: flex;
		justify-content: space-between;
		color: #000000;
		padding: 0.5rem;
		padding: 2rem 1rem;
		border: 1px solid #ccc;
		color: #000000;
		background-color: var(--color-logo);
		border-radius: 0.5rem;
		label {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		select {
			padding: 0.5rem 1rem;
			border-radius: 3rem;
			width: 60%;
			text-align: center;
			cursor: pointer;
			outline: none;
			&:focus {
				border: 1px solid var(--color-verde);
			}
			&:hover {
				border: 1px solid #868686;
			}
		}
	}
}

@keyframes form {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
