.testimonios-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	.testimonio {
		width: 300px;
		height: 400px;
		position: relative;
		border-radius: 0.5rem;
		background-color: rgb(219, 219, 219);
		.imgTestimonio {
			width: 100%;
			border-radius: 0.5rem;
			height: 100%;
			position: relative;
		}
		.testimonio-text {
			margin-top: 10px;
		}
	}
	@media (max-width: 768px) {
		.testimonial {
			width: 100%;
		}
	}
}
