.formReservaContainer {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	z-index: 4;
	background-color: #ffffff;
	.btnSecundario.cerrarForm {
		max-width: 300px;
		margin-top: 1rem;
		background-color: var(--color-violeta);
		color: #fff;
		&:hover {
			background-color: transparent;
		}
	}
	.formReserva {
		width: 100%;
		max-width: 450px;
		gap: 1rem;
		border: 1px solid #999999;
		padding: 2rem 1rem;
		border-radius: 0.3rem;
		animation: fadeIn 0.5s ease;
		background-color: var(--color-logo);

		.btnPrimario {
			width: 100%;
			margin-top: 1rem;
			.loaderChico {
				border-top: 3px solid;
			}
		}
		h3 {
			text-align: center;
			font-size: 24px;
		}
		.input {
			display: flex;
			flex-direction: column;
			gap: 0.3rem;
			color: #000;
			padding: 0.5rem;
			.spanHora {
				width: 100%;
				border-radius: 1rem;
				padding: 0.3rem 1rem;
				margin: auto;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				color: var(--color-violeta);
				background-color: #ffffff;
				text-transform: capitalize;
			}
			.horasDisplay {
				.liHora {
					background-color: #ffffff;
					&:hover {
						background-color: var(--color-violeta);
					}
				}
				.liHora.horaSeleccionada {
					background-color: var(--color-violeta);
				}
				.liHora.Pago {
					background-color: var(--color-paga);
					color: #ffffff;
				}
				.liHora.Pendiente {
					background-color: var(--color-pendiente);
					color: #ffffff;
				}
				.liHora.Cancelada {
					background-color: var(--color-cancelada);
					color: #ffffff;
				}
			}
			input,
			select {
				padding: 0.5rem 1rem;
				border-radius: 3rem;
				width: 100%;
				border: 1px solid #686868;
				transition: border 0.2s ease;
				outline: none;
				&::-webkit-calendar-picker-indicator {
					width: 100%;
					position: absolute;
					cursor: pointer;
				}
				&:focus {
					border: 1px solid #9da985;
				}
				&:hover {
					border: 1px solid #8b8b8b;
				}
			}
			#pacienteNombre {
				text-transform: capitalize;
			}
			select,
			#fecha {
				text-align: center;
				text-transform: capitalize;
				.optionNombre {
					text-align: center;
				}
				.admin {
					background-color: var(--color-logo);
				}
			}
		}
	}
}
.formOut {
	animation: formOut 0.3s ease-in-out forwards;
}
@keyframes formOut {
	to {
		opacity: 0;
		transform: scale(0);
	}
}
@keyframes outUp {
	from {
		transform: scale(1);
		opacity: 1;
		z-index: 3;
	}
	to {
		transform: scale(0);
		opacity: 0;
	}
}
