.porcentajes {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	width: 100%;
	margin: auto;
	padding: 1rem 0;
	h3 {
		text-align: center;
	}
	.bar-chart {
		list-style: none;
		padding: 0;
		.bar {
			margin-top: 0.5rem;
			background-color: var(--color-verde-blanco);
			height: 20px;
			position: relative;
			border-radius: 0.3rem;
			overflow: hidden;
			.fill {
				height: 100%;
				background-color: var(--color-violeta);
				position: absolute;
				width: 0;
				transition: width 1s ease-in-out;
			}
		}
		li {
			border: 1px solid #eee;
			padding: 0.5rem;
			border-radius: 0.3rem;
			margin: 0.5rem 0;
		}
	}
}
