.ContenedorReservas {
	scroll-snap-type: x proximity;
	width: 100%;
	padding: 1rem;
	display: flex;
	overflow: auto;
	gap: 1rem;
	animation: fadeIn 0.5s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animationReservaOut {
	animation: outUp 0.5s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
@keyframes outUp {
	to {
		transform: translateX(50vw);
		opacity: 0;
	}
}
