.reservasPaciente {
	animation: fadeIn 0.5s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 100%;
	overflow: auto;
	background-color: #fff;
	padding: 2rem 0;
	position: relative;
	.btnPrimario {
		width: fit-content;
	}
	.btnVolverPacientesPage {
		position: absolute;
		top: 1rem;
		left: 1rem;
		width: fit-content;
		font-size: 14px;
	}
	h2 {
		text-transform: capitalize;
		letter-spacing: 2px;
		margin: 2rem 0 0 0;
		text-align: center;
		position: sticky;
		background-color: #ffffff36;
		backdrop-filter: blur(10px);
		top: 0;
		left: 0;
		z-index: 2;
		border-radius: 1rem;
		padding: 0.5rem 1rem;
	}

	.reservasContainer {
		flex: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
		width: 100%;
		padding: 2rem 0;
	}
}

.containerPaciente,
.imprimirPaciente {
	border-radius: 8px;
	border: 1px solid rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1rem;
	width: 100%;
	max-width: 400px;
	color: #000;
	z-index: 2;
	position: relative;
	transition: opacity 1s ease;
	.botones {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;
		gap: 1rem;
		position: relative;
		.imprimir {
			transition: color 0.3s ease;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			svg {
				width: 1.5rem;
				height: 1.5rem;
			}
			&:hover {
				color: var(--color-violeta);
			}
		}
		.btnSecundario {
			width: fit-content;
			font-size: 14px;
		}
	}

	.containerFoto {
		margin: 0 auto;
		text-align: center;

		.paciente-foto {
			border-radius: 50%;
			height: 100px;
			width: 100px;
		}
	}

	.divImprimir {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.paciente-details {
			border-bottom: 1px solid black;
			margin-bottom: 1rem;
			&:last-child {
				border-bottom: 1px solid transparent;
			}
			h4 {
				margin-bottom: 10px;
				color: var(--color-violeta);
				text-align: center;
			}

			ul {
				list-style: none;
				padding: 0;
				li {
					align-items: center;
					display: flex;
					justify-content: space-between;
					margin-bottom: 5px;
					text-transform: capitalize;
					span {
						font-weight: bold;
						margin-right: 5px;
					}
					svg {
						font-size: 18px;
						margin-left: 5px;
					}
				}
				.nombre {
					text-transform: capitalize;
				}
			}
		}
	}
}
.imprimirPaciente {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: none;
	justify-content: center;
	color: #000;
	.divImprimir {
		height: 100vh;
		.paciente-details {
			height: 100%;
		}
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
